* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.product-card-container {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 16px;
  padding: 16px;
  width: 240px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.685);
  position: relative;
}

a {
  text-decoration: none;
}
.product-card-container img {
  max-width: 100%;
  height: 230px;
  object-fit: contain;
  cursor: pointer;
  border-radius: 8px;
}

.title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  font-weight: 600;
  font-size: 20px;
  margin: 10px 0;
  cursor: pointer;
}

.title:hover {
  text-decoration: underline;
}

.stars {
  display: flex;
  justify-content: space-between;
}
.cat {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #666666;
  cursor: pointer;
}
.cat:hover {
  text-decoration: underline;
  color: black;
  transition: all 0.1s ease-in-out;
}

.star {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-right: 15px;
}

.lower-section {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.price {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 20px;

  user-select: none;
}

.add-to-cart {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: bold;
  background: transparent;
  border: none;
  color: #888;
  cursor: pointer;
}
.add-to-cart:hover {
  color: rgb(50, 50, 50);
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
}
