* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  height: 100vh;
  background-color: rgb(6, 6, 20);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 450px;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3de99;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
}

#logo {
  width: 110px;
  height: 110px;
  margin-bottom: 20px;
}
.container > p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #0e0e0e;
}

h1 {
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-weight: 900;
  color: #0e0e0e;
}

form {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
}

.form-group input {
  display: block;
  width: 100%;
  padding: 10px;
  border-bottom: 3px solid #ddd;
  border-right: 3px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  transition: transform 0.4s ease-in-out;
}

.form-group input:focus {
  border-color: #c58a00;
  transform: scale(1.03);
  transition: transform 0.4s ease;
}

.remember-forgot {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.remember-me {
  user-select: none;
  margin-left: 3px;
  cursor: pointer;
}

.remember-me label {
  font-size: 17px;
  font-family: Raleway-Regular;
  font-weight: 500;
  color: #474747;
}

.remember-me input {
  position: relative;
  top: 1.5px;
  width: 15px;
  height: 15px;
  margin-right: 2px;
  border-radius: 5px;
}

.forgot-password a {
  font-size: 17px;
  font-family: Raleway-Regular;
  font-weight: 500;
  color: #474747;
  text-decoration: none;
}

.forgot-password a:hover {
  color: rgb(39, 38, 38);
  text-decoration: underline;
}

.btn-login {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  align-self: center;
  width: 90%;
  padding: 20px;
  background-color: #0e0e0e;
  color: #fff;
  border-radius: 5px;
  margin: 40px 0;
  cursor: pointer;
  transition: all 0.4s ease;
  letter-spacing: 1.2px;
}

.btn-login:hover,
.btn-login:focus {
  background-color: #c58a00;
  color: #fff;
  transform: scale(1.03);
  transition: all 0.4s ease;
}

.signup {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #0e0e0e;
  justify-self: flex-end;
}

.signup a {
  text-decoration: none;
  color: #473200;
  font-weight: 600;
  margin-left: 5px;
}

.signup a:hover {
  text-decoration: underline;
}
